---
---
.page-header {
  background-color: transparent;
  background-image: url(/assets/images/hero-bg.jpg);
  background-size: cover;
  background-position: center center;
  h1 a {
    color: #ffffff;
    &:hover {
      color: #f9f9f9;
      text-decoration: none;
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  .btn {
    background-color: rgba(#ffffff, .75);
    border-color: #ffffff;
    color: #0F291A;
    width: 25%;
    min-width: 200px;
    display: inline-block;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content-left {
  @media all and (min-width: 960px) {
    width: 66%;
    float: left;
    padding-right: 20px;
  }
}

.img-right {
  @media all and (min-width: 960px) {
    width: 33%;
    float: right;
  }
}

img {
  max-width: 100%;
  height: auto;
}
